*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background: linear-gradient(0deg,rgb(2, 15, 131),rgb(31, 1, 66));
  background-repeat: no-repeat;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --dark-blue: rgb(0, 0, 29);
  --low-dark-blue: rgb(11,5,75);
}
.container{
  background-color: rgb(68, 68, 185);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: solid 2px var(--dark-blue);
  border-radius: 20px;
  display: grid;
  grid-template-rows: 60px 40px auto;
  color: white;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px;
  border-color: transparent transparent var(--dark-blue) transparent;
  padding: 0px 10px;
}
.title:nth-child(odd){
  background: rgb(25, 25, 153);
  border-radius: 17px 17px 0px 0px;
}
.title:nth-child(even){
  justify-content: center;
  background: var(--low-dark-blue);
}
.iconTitle{
  height: 30px;
  width: 30px;
  margin: 0px 5px;
}