.containerListar{
  width: 1000px;
}
.coluna{
  background: rgb(39, 39, 133);
  border: solid 1px var(--dark-blue);
}
.colunaInfo{
  text-align: center;
  border: solid 1px var(--dark-blue);
}
.btnApagar{
  background-color: rgb(177, 2, 32);
  height: 30px;
  width: 80px;
}
.btnEditar{
  background-color: rgb(243, 227, 6);
  height: 30px;
  width: 80px;
}