.containerListar{
  width: 1000px;
}
.btnApagar{
  background-color: rgb(177, 2, 32);
  height: 30px;
  width: 80px;
}
.btnEditar{
  background-color: rgb(243, 227, 6);
  height: 30px;
  width: 80px;
}